/* Estilo referente a página Produtos */

/* O sinal (">" maior que) quer dizer que a estilização vai pegar 
    os filhos do seletor que estiverem imediatamente após a definição do seletor
    no exemplo abaixo o estilização vai pegar somente a primeira div se houver outra após essa
    não ira se afetada pela estilização. 
*/
.content-container > div img{
    width: 100%;
    border-radius: 20px;
    border: 5px double;
}

.content-container{
    padding: 20px;
}

.content-container h2.title{
    font-size: 1.5em;
}

/* foi criada uma classe chamada ".width-50pct-desktop" e definida na imagem substituindo esse código. */
/* @media screen and (min-width: 992px) {
    .content-container > div img{
        width: 50%;
    }
} */

@media screen and (min-width: 992px) {
    .content-container article p{
        margin: 0 auto 10px;
    }
    
}